/* Misc */

.conteudo {
    background-color: var(--bgPrimaria);
    color: white;
}

.contBackground {
    background-image: url("media/backgrounds/wallpaper1.jpg");
    top: 0;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    filter: blur(4px) contrast(1.3);
    margin: -1%;
}

.contMain {
    border-top: 2px solid var(--bgTerciaria);
    background-color: var(--bgSecundaria);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 0% !important;
    z-index: 1;
    padding: 1.5%;
}


/* Misc END */

/* mainNav */

.mainNav {
    position: fixed;
    top: 0px;
    width: inherit;
    align-items: center;
    padding: 0 !important;
    z-index: 10;
}

.mainNavBackground {
    background-color: var(--bgPrimaria);
    padding: 1rem;
    border-bottom: 2px solid var(--corSecundaria);
}

.mainNavBackgroundTransparente {
    background-color: transparent !important;
    padding: 1rem;
}

.mainNavBackgroundTransition {
    transition: 0.4s;
}

.mainNavBorder {
    width: 100%;
    height: 2%;
    background-color: var(--corSecundaria);
}

.mainContent {
    transition: width 0.3s;
    padding: 0 !important;
}

.mainContentFloat {
    float:right;
}

.svgMenu {
    width: 100%;
    margin-left: 50%;
}

/* mainNav END */

/* Acesso */

.acessoUser {

    width: 50px;
    height: 50px;
  }

.acessoUserFoto {
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
    vertical-align: middle;
}

.svgBiblioteca {
    width: 1rem;
    margin-left: 10%;
}

/* Acesso END */


/* Sidenav */

.sideNav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0 !important;
}

.sideNavShow {
    width: 100%;
    background-color: var(--bgPrimaria);
}

.sideNavTransition {
    transition: 0.3s;
}

/* Sidenav END */


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgPrimaria);
}

::-webkit-scrollbar-thumb {
    background: var(--corPrimaria);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--corSecundaria);
}

/* Scrollbar END */

/* Search */
.searchBarOut {
    margin-right: 2rem;
    background-color: var(--bgSecundaria);
    border: 2px solid var(--bgTerciaria);
    border-radius: 15px;
    width: 50%;
    transition: 0.4s
}

.searchBarIn {
    background: transparent;
    border: 0px solid;
    border-radius: 15px;
    width: 100%;
    color: white;
}

.searchBarIn:focus {
    box-shadow: 0 0 0 5px rgba(179, 56, 49, 0.6);
    transition: 50ms box-shadow ease-in-out;
    outline: 2px solid var(--corPrimaria);
}

.svgSearch {
    position: absolute;
    height: 1.5rem;
    padding-right: 0.5rem;
    align-self: center;
}

/* Search END */

/* Capa */

.capaPadrao {
    width: 90%;
    padding-left: 10%;
    margin-top: -25%;
    position:relative;
}

.livroTitulo {
    font-family: 'Gotham Black';
    font-size: 350%;
}

.livroAutor {
    display: flex;
    font-family: 'Gotham Light';
    padding-left: 70%;
}

.livroInfoMain {
    padding: 0 2.5% 0 1%;
}

.livroRowCategorias {
    gap: 2.5%;
}

.livroTituloSection {
    padding-bottom: 2.5%;
}

.livroUserInfo {
    display: flex;
    align-items: center;
}

.livroAvaliacaoSection {
    color: var(--corPrimaria);
    font-size: 1.3rem;
    padding-left: 0.6rem;
    font-family: 'Gotham Thin';
    gap: 5%;
    display: flex;
    align-items: center;
}

.svgAvaliacao {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--corPrimaria);
}

.badgeCategoria {
    color: black;
    background-color: var(--corSecundaria);
    padding: 0.3rem;
    border-radius: 0.35rem;
    font-family: 'Gotham Light';
    font-size: 0.8rem;
    font-weight: 650; 
    display: inline-block;
    line-height: 1;
    text-align: center;
}

.badgeCategoriaExtra {
    color: black;
    background-color: var(--corPrimaria);
    padding: 0.4rem;
    border-radius: 0.35rem;
    font-family: 'Gotham Light';
    font-size: 0.85rem;
    font-weight: 650; 
    display: inline-block;
    line-height: 1;
    text-align: center;
}

/* Capa END */