/* Misc */

.badgeCategoria {
    color: black;
    background-color: var(--corPrimaria);
    padding: 0.3rem;
    border-radius: 0.35rem;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

.estiloTexto {
    font-family: Poppins, sans-serif;
}

.conteudo {
    background-color: var(--bgPrimaria);
    color: white;
}

.contBackground {
    background-image: url("media/backgrounds/wallpaper1.jpg");
    top: 0;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(4px) contrast(1.3);
    margin: -1%;
}

.contMain {
    border-top: 2px solid var(--bgTerciaria);
    background-color: var(--bgSecundaria);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 0% !important;
    z-index: 1;
    padding: 1.5%;
}


/* Misc END */

/* mainNav */

.mainNav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    align-items: center;
    padding: 0 !important;
}

.mainNavBackground {
    background-color: var(--bgPrimaria);
    padding: 1rem;
    border-bottom: 2px solid var(--corSecundaria);
}

.mainNavBackgroundTransparente {
    background-color: transparent !important;
    padding: 1rem;
}

.mainNavBackgroundTransition {
    transition: 0.4s;
}

.mainNavBorder {
    width: 100%;
    height: 2%;
    background-color: var(--corSecundaria);
}

.mainContent {
    transition: width 0.3s;
    padding: 0 !important;
}

.mainContentFloat {
    float:right;
}

/* mainNav END */


/* Sidenav */

.sideNav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0 !important;
}

.sideNavShow {
    width: 100%;
    background-color: var(--bgPrimaria);
}

.sideNavTransition {
    transition: 0.3s;
}

/* Sidenav END */


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgPrimaria);
}

::-webkit-scrollbar-thumb {
    background: var(--corPrimaria);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--corSecundaria);
}

/* Scrollbar END */

/* Search */
.searchBarOut {
    margin-right: 2rem;
    background-color: var(--bgSecundaria);
    border: 2px solid var(--bgTerciaria);
    border-radius: 15px;
    width: 50%;
    transition: 0.4s
}

.searchBarIn {
    background: transparent;
    border: 0px solid;
    border-radius: 15px;
    width: 100%;
    color: white;
}

.searchBarIn:focus {
    box-shadow: 0 0 0 5px var(--corSecundaria);
    transition: 50ms box-shadow ease-in-out;
    outline: 2px solid var(--corPrimaria);
}

.searchSvg {
    position: absolute;
    height: 1.5rem;
    padding-right: 0.5rem;
    align-self: center;
}

/* Search END */