
:root {
    --corPrimaria: #ea4f36;
    --corSecundaria: #b33831;
    --bgPrimaria: #090a14;
    --bgSecundaria: #10141f;
    --bgTerciaria: #151d28;
    --navHeight: 3.5rem;
}

.flex {
    display: flex;
}

.justifyContEnd {
    justify-content: end !important;
}

.justifySelfCenter {
    justify-self: center;
}

.alignCenter {
    align-items: center !important;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.contFluid {
    --paddingX: 1.5rem;
    padding-right: calc(var(--paddingX) * .5);
    padding-left: calc(var(--paddingX) * .5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contSection {
    --paddingX: 1.5rem;
    --paddingY: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--paddingY));
    margin-right: calc(-.5 * var(--paddingX));
    margin-left: calc(-.5 * var(--paddingX))
}

.pZero {
    padding: 0 !important;
}

.size2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.size3 {
    flex: 0 0 auto;
    width: 25%;
}

.size6 {
    flex: 0 0 auto;
    width: 50%;
}

.size7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.size8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.size12 {
    flex: 0 0 auto;
    width: 100%;
}