
:root {
    --corPrimaria: rgb(255, 128, 0);
    --corSecundaria: rgb(152, 69, 14);
    --bgPrimaria: rgb(21, 18, 14);
    --bgSecundaria: rgb(52, 47, 43);
    --bgTerciaria: rgb(79, 79, 79);
    --navHeight: 3.5rem;
}

.flex {
    display: flex;
}

.justifyContEnd {
    justify-content: end !important;
}

.alignCenter {
    align-items: center !important;
}

.contFluid {
    --paddingX: 1.5rem;
    padding-right: calc(var(--paddingX) * .5);
    padding-left: calc(var(--) * .5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contSection {
    --paddingX: 1.5rem;
    --paddingY: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.pZero {
    padding: 0 !important;
}

.size2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.size3 {
    flex: 0 0 auto;
    width: 25%;
}

.size6 {
    flex: 0 0 auto;
    width: 50%;
}

.size8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.size12 {
    flex: 0 0 auto;
    width: 100%;
}