.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
    display: flex;
}

.grid {
    display: grid;
}

.justifyContCent{
    justify-content: center;
}

.justifyContEnd {
    justify-content: end !important;
}

.justifySlfCent {
    justify-self: center;
}

.alignCenter {
    align-items: center !important;
}

.textAlignCenter {
    text-align: center !important;
}

.alignSlfEnd{
    align-self: flex-end;
}

.alignSlfCent{
    align-self: center;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fitContent {
    height: fit-content;
}

.hide{
    display: none;
}

.contFluid {
    --paddingX: 1.5rem;
    padding-right: calc(var(--paddingX) * .5);
    padding-left: calc(var(--paddingX) * .5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contSection {
    --paddingX: 1.5rem;
    --paddingY: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--paddingY));
    margin-right: calc(-.5 * var(--paddingX));
    margin-left: calc(-.5 * var(--paddingX))
}

.widthMax{
    width: max-content;
}

.pZero {
    padding: 0 !important;
}

.size1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.size1-5 {
    flex: 0 0 auto;
    width: 12.499999995%;
}

.size2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.size3 {
    flex: 0 0 auto;
    width: 25%;
}

.size4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.size5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.size6 {
    flex: 0 0 auto;
    width: 50%;
}

.size7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.size8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.size9 {
    flex: 0 0 auto;
    width: 75%;
}

.size10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.size11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}

.size12 {
    flex: 0 0 auto; 
    width: 100%;
}

.borderBottom {
    border-bottom: 2px solid var(--bgTerciaria);
    padding-bottom: 1rem;
    width: 100%;
}


/* Tags */
body {
    margin: 0;
    font-family: "Gotham Book";
    font-size: 1rem;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:-webkit-any-link{
    color: var(--font);
    text-decoration: underline;
    text-decoration-color: var(--corPrimaria);
}

a:hover{
    text-decoration-color: var(--corSecundaria);
}

/* Tags END */


.containerComplement{
    margin-bottom: 5px;
    display: grid;
    width: 100%;
    background-color: var(--bgSecundaria);
    font-size: 0.9rem;
    border: 2px solid var(--bgTerciaria);
    font-weight: 800;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.tableUserSpacing{
    grid-template-columns: 5% 17.5% 12.5% 10% 10% 20% 5% 10% 10%;
}

.tableForumSpacing{
    grid-template-columns: 5% 10% 20% 20% 35%;
}

.tableBookSpacing{
    grid-template-columns: 5% 10% 40% 10% 10% 15% 5% ;
}

.tableCatSpacing{
    grid-template-columns: 30% 40% 30%;
}

.tableAutorSpacing{
    grid-template-columns: 10% 20% 10% 40% 10% 5% ;
}


.tableBookRow{
    display: grid;
    width: 100%;
    background-color: var(--bgSecundaria);
    font-size: 0.9rem;
    border: 1px solid var(--bgTerciaria);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    height: 150px;
}

.tableBookRow:hover{
    background-color: var(--bgHover);
    transition: 0.2s;
}

.tableSection{  
    width: 150%;
}

#results{
    width: 150%;
}

.tableCodMin{
    padding: 2px 5px;
}

.tableAuthorMin{
    padding: 2px 5px;
}

.tableTitleMin{
    border-left: 2px solid var(--bgTerciaria);
    border-right: 2px solid var(--bgTerciaria);
    padding: 2px 5px;
}

.tableValue{
padding: 5px;

}

.tableValue::-webkit-scrollbar{
    width: 5px;
}

#descricao{
    overflow-y: scroll;
}

.controlEditContainer{
    padding: 0% 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid var(--bgTerciaria);
    border-bottom: 2px solid var(--bgTerciaria);
    border-right: 2px solid var(--bgTerciaria);
    border-top: 2px solid var(--bgTerciaria);
}

.controlBackgroundStart{
    background: linear-gradient(150deg, var(--corSecundaria) 0%, var(--bgPrimaria) 35%);
}

.controlBackgroundMiddle{
    background: linear-gradient(160deg, var(--corSecundaria) 0%, var(--bgPrimaria) 40%);
}

.controlBackgroundEnd{
    background: linear-gradient(170deg, var(--corSecundaria) 0%, var(--bgPrimaria) 45%);
}


.controlResultsContainer{
    padding: 0% 1%;
}

.controlInput{
    padding: 4px;
    margin-top: 1%;
    background-color: var(--bgInput);
    border: none;
    border-radius: 3px;
    transition: .5s;
    color: var(--font);
    font-family: 'Gotham Book';
}

.controlInput:focus{
    border: 2px solid var(--corSecundaria);
}

.controlInputTransparent{
    padding: 4px;
    margin-top: 2%;
    border: none;
    border-radius: 3px;
    transition: .5s;
    color: var(--font);
    font-family: 'Gotham Book';
}

.controlInputLG{
    padding: 4px;
    margin-top: 2%;
    height: 40%;
    background-color: var(--bgInput);
    border: none;
    border-radius: 3px;
    transition: .5s;
    color: var(--font);
    font-family: 'Gotham Book';
}

.controlLabel{
    font-size: 0.9rem;
    font-family: 'Gotham Book';
}

.controlBtn{
    border-radius: 5px;
    justify-content: center;
    background-color: var(--bgTerciaria);
    font-family: 'Gotham Medium';
    color: var(--font);
    border: 0;
    padding: 1.25%;
    margin-left: 2%;
}

.controlInputSection{
    margin: 1% 0;
    justify-content: space-between;
}

.controlShowBtn{
    transition: 0.3s;
    padding: 5px;
    background-color: var(--corPrimaria);
    color: var(--font);
    font-family: 'Gotham Medium';
    font-size: 1.1rem;
    border: 0;
}

.controlShowBtn:hover{
    cursor: pointer;
    background-color: var(--corSecundaria);
}

.controlShowBtn:focus{
    background-color: var(--corSecundaria);
}

.controlShowBorder{
    border-left: 2px solid var(--bgTerciaria);
    border-right: 2px solid var(--bgTerciaria);
    border-top: 2px solid var(--bgTerciaria);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.controlRadio{
    width: min-content;
}

.logoutForm{
    align-self: center;
    width: 80%;
    border-top: 3px solid var(--bgTerciaria);
}

.logoutBtn:hover{
    cursor: pointer;
    color: var(--corPrimaria);
}

.logoutBtn{
    color: var(--font);
    font-size: 1.2rem;
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    font-family: 'Gotham Medium';
    border: none;
    transition: 0.2s;
}

t3{
    font-size: 1.2rem;
}

st1{
    font-size: 0.7rem;
    font-family: 'Gotham Book';
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--corPrimaria);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--corSecundaria);
}

/* Scrollbar END */