.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
    display: flex;
}

.grid {
    display: grid;
}

.justifyContCent{
    justify-content: center;
}

.justifyContEnd {
    justify-content: end !important;
}

.justifySlfCent {
    justify-self: center;
}

.alignCenter {
    align-items: center !important;
}

.alignSlfEnd{
    align-self: flex-end;
}

.alignSlfCent{
    align-self: center;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fitContent {
    height: fit-content;
}

.hide{
    display: none;
}

.contFluid {
    --paddingX: 1.5rem;
    padding-right: calc(var(--paddingX) * .5);
    padding-left: calc(var(--paddingX) * .5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contSection {
    --paddingX: 1.5rem;
    --paddingY: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--paddingY));
    margin-right: calc(-.5 * var(--paddingX));
    margin-left: calc(-.5 * var(--paddingX))
}

.pZero {
    padding: 0 !important;
}

.size1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.size1-5 {
    flex: 0 0 auto;
    width: 12.499999995%;
}

.size2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.size3 {
    flex: 0 0 auto;
    width: 25%;
}

.size4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.size5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.size6 {
    flex: 0 0 auto;
    width: 50%;
}

.size7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.size8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.size9 {
    flex: 0 0 auto;
    width: 75%;
}

.size10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.size12 {
    flex: 0 0 auto;
    width: 100%;
}

.borderBottom {
    border-bottom: 2px solid var(--bgTerciaria);
    padding-bottom: 1rem;
    width: 100%;
}


/* Tags */
body {
    margin: 0;
    font-family: "Gotham Medium";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Tags END */


.containerComplement{
    display: flex;
    margin-bottom: 5px;
    border-bottom: 2px solid #243542;
    font-weight: 700;
    border: 3px solid var(--bgTerciaria);
}

.livroRow{
    display: grid;
    width: 100%;
    grid-template-columns: 10% 60% 20%;
    background-color: var(--bgSecundaria);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--bgTerciaria);
}

.livroRow:hover{
    background-color: var(--bgHover);
    transition: 0.2s;
}

.livrosSection{
    border: 3px solid var(--bgTerciaria);
}

.livroCodMin{
    padding: 2px 5px;
}

.livroAutorMin{
    padding: 2px 5px;
}

.livroTituloMin{
    border-left: 2px solid var(--bgTerciaria);
    border-right: 2px solid var(--bgTerciaria);
    padding: 2px 5px;
}

.controleContainer{
    margin: 1% 0 1% 4%;
    padding: 1% 0 1% 4%;
    border-left: 3px solid var(--bgTerciaria);
}

.svgAccordeon{
    height: 32px;
    fill: var(--font);
}

.accordeonTrigger{
    background-color: transparent;
    border: 0;
    color: var(--font);
}

.accordeonDesc{
    transition: 0.4s;
    background-color: var(--bgTerciaria);
}

.controleInput{
    padding: 1%;
    margin-top: 1%;
    width: 100%;
    background-color: var(--bgInput);
    border: none;
    border-radius: 3px;
    transition: .5s;
    color: var(--font);
    font-family: 'Gotham Book';
}

.controleLabel{
    font-size: 0.9rem;
    font-family: 'Gotham Book';
}

.controleBtn{
    border-radius: 5px;
    justify-content: center;
    background-color: var(--bgTerciaria);
    font-family: 'Gotham Medium';
    color: var(--font);
    border: 0;
    padding: 1.25%;
    margin-left: 2%;
}

.controleInputSection{
    margin: 2% 0;
}