:root {
    --navHeight: 3.5rem;

    --corPrimaria: #ea4f36;
    --corSecundaria: #bc3131;
    --corSecundaria2: #bc31318e;
    --bgPrimaria: #090a14;
    --bgSecundaria: #10141f;
    --bgTerciaria: #243542;
    --bgLogin: #1d2230;
    --bgInput: #4d4948;
    --bgHover: #1c2635;
    --font: #eff1f3;

    
    /* --corPrimaria: #3fa0a4;
    --corSecundaria: #387497;
    --corSecundaria2: #3874978e;
    --bgPrimaria: #111418;
    --bgSecundaria: #181c1f;
    --bgTerciaria: #313c42;
    --bgLogin: #303b42;
    --bgInput: #3f4649;
    --bgHover: #24333b; */
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../SRC/fontes/Gotham/Gotham-Black.otf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../SRC/fontes/Gotham/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham Thin';
    src: url('../SRC/fontes/Gotham/Gotham-Thin.otf');
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../SRC/fontes/Gotham/Gotham-Ultra.otf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../SRC/fontes/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../SRC/fontes/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../SRC/fontes/Gotham/Gotham-Bold.otf');
}

