/* Misc */

.conteudo {
    background-color: var(--bgPrimaria);
    color: white;
    max-width: 100%;
}

.contBackground {
    background-image: linear-gradient(var(--bgSecundaria), var(--corPrimaria));
    top: 0;
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    filter: contrast(1.4);
    margin-bottom: -1%;
}

.contMain {
    background-color: var(--bgSecundaria);
    margin-top: 0% !important;
    z-index: 1;
    padding: 7.5% 5% 5% 5%;
}

.contMainBorder {
    border-top: 2px solid var(--bgTerciaria);
    background-color: var(--bgSecundaria);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 0% !important;
    z-index: 1;
    padding: 1.5%;
}


/* Misc END */

/* mainNav */

.mainNav {
    position: fixed;
    top: 0px;
    width: inherit;
    align-items: center;
    padding: 0 !important;
    z-index: 10;
    transition: 0.5s;
}

.mainNavBackground {
    background-color: var(--bgPrimaria);
    padding: 1rem;
    border-bottom: 2px solid var(--corSecundaria);
}

.mainNavBackgroundTransparente {
    background-color: transparent !important;
    padding: 1rem;
}

.mainNavBackgroundTransition {
    transition: 0.5s;
}

.mainNavBorder {
    width: 100%;
    height: 2%;
    background-color: var(--corSecundaria);
}

.mainContent {
    transition: width 0.3s;
    padding: 0 !important;
}

.mainContentFloat {
    float: right;
}

.svgMenu {
    width: 1.5rem;
    margin-left: 50%;
}

/* mainNav END */

/* Acesso */

.acessoUser {
    justify-self: end;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 20%;
}

.acessoUserFoto {
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.svgBiblioteca {
    width: 1rem;
    margin-left: 10%;
}

/* Acesso END */

/* Login */

.loginSection {
    padding: 5%;
    background-color: var(--bgSecundaria);
    display: flex;
    flex-direction: column;
}

.loginSectionBorder {
    border-top: 3px solid var(--corPrimaria);
    border-radius: 3px;
}

.loginTitle {
    font-family: 'Gotham Medium';
    font-size: 1.5rem;
    align-self: center;
    padding-bottom: 2%;
}

.loginInputSection {
    font-family: 'Gotham Light';
    font-size: 0.9rem;
    margin: 3% 5% 3% 5%;
}

.loginInputBox {
    padding: 1%;
    margin-top: 1%;
    width: 100%;
    background-color: var(--bgInput);
    border: none;
    border-radius: 3px;
    transition: .5s;
    color: white;
    font-family: 'Gotham Book';
}

.loginInputBox:focus {
    box-shadow: 0 0 0 5px var(--corSecundaria2);
    transition: 50ms box-shadow ease-in-out;
    outline: 2px solid var(--corPrimaria);
}

.loginSenhaResetSection {
    justify-self: end;
    margin-right: 5%;
}

.loginLink {
    color: var(--corPrimaria);
    font-family: 'Gotham Bold';
}

.loginLink:hover {
    color: var(--corSecundaria);
}

.loginBtnSection {
    margin: 3% 5% 3% 5%;
}

.loginBtn {
    border-radius: 5px;
    justify-content: center;
    background-color: var(--corPrimaria);
    color: white;
    font-family: 'Gotham Medium';
    padding: 2%;
    margin: 0 5% 0 5%;
}

a:-webkit-any-link {
    text-decoration: none;
}

.loginCadSection {
    padding: 5%;
    background-color: var(--bgLogin);
    display: flex;
    justify-content: center;
    font-family: 'Gotham Medium';
    gap: 1%;
}

/* Login END */

/* Sidenav */

.sideNav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0 !important;
    background-color: var(--bgPrimaria) !important;
}

.sideNavShow {
    width: 100%;
}

.sideNavTransition {
    transition: 0.3s;
}

.sideNavClose {
    padding-top: 1rem;
    padding-left: 75%;
}

.svgSideNavClose {
    color: var(--bgTerciaria);
}

/* Sidenav END */

/* User Menu */

.userMenuDiv {
    position: relative;
}

.userMenuCont {
    /* display: none; */
    position: absolute;
    right: 0;
    background-color: var(--bgSecundaria);
    width: 13rem;
    margin-top: 0.5rem;
    flex-direction: column;
    border-radius: 5px;
}

.userMenuItem {
    padding: 1rem;
}

/* User Menu END */

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgPrimaria);
}

::-webkit-scrollbar-thumb {
    background: var(--corPrimaria);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--corSecundaria);
}

/* Scrollbar END */

/* Search Módulo */
.searchBarOut {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    background-color: var(--bgSecundaria);
    border: 2px solid var(--bgTerciaria);
    border-radius: 10px;
    width: 20%;
    transition: .5s;
    position: relative;
}

.searchBarOut:hover {
    width: 30%;
}

.searchBarIn {
    background: transparent;
    border: 0px solid;
    border-radius: 10px;
    color: white;
    transition: .5s;
    width: 100%;
}

.searchBarIn:focus {
    box-shadow: 0 0 0 5px var(--corSecundaria2);
    transition: 50ms box-shadow ease-in-out;
    outline: 2px solid var(--corPrimaria);
}

.svgSearch {
    position: absolute;
    right: 0;
    height: 1.5rem;
    padding-right: 0.5rem;
    align-self: center;
}

/* Search Módulo END */

/* Search Page */

/* Filtro */

.pgSearchMove {
    height: 50%;
}

.pgSearchFiltro {
    padding: 1%;
    margin: 1%;
    height: 100rem;
    border: solid 2px var(--bgTerciaria);
    border-radius: 0.7rem;
}

/* Filtro END */

/* Search */

.pgSearchOut {
    background-color: var(--bgSecundaria);
    border: 2px solid var(--bgTerciaria);
    border-radius: 15px;
    width: 100%;
    transition: 0.5s
}

.pgSearchIn {
    background: transparent;
    border: 0px solid;
    border-radius: 15px;
    width: 100%;
    color: white;
}

/* Search END */

/* Itens */

.pgSearchItemStyle {
    border: 2px solid var(--bgTerciaria);
    border-radius: 0.7rem;
    padding: 1%;
    margin: 2rem;
}

.pgSearchTitle {
    font-family: 'Gotham Black';
    font-size: 1.5em;
    height: fit-content;
}

.pgSearchLivroCapa {
    width: 50%;
    padding-left: 10%;
}

.pgSearchRating {
    justify-content: end;
    padding-right: 5%;
    color: var(--corPrimaria);
    height: fit-content;
}

.svgPgSearchRating {
    height: 1.5rem;
    color: var(--corPrimaria);
    fill: var(--corPrimaria);
}

.pgSearchCategoria {
    color: black;
    background-color: var(--corPrimaria);
    padding: 0.15rem;
    border-radius: 0.2rem;
    font-family: 'Gotham Book';
    font-size: 0.6rem;
    font-weight: 550;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

/* Itens END */

/* Search Page END */

/* Livro */

.livroCapa {
    width: 90%;
    padding-left: 10%;
    margin-top: -25%;
    position: relative;
}

.livroTitulo {
    font-family: 'Gotham Black';
    font-size: 350%;
}

.livroAutor {
    display: flex;
    padding-left: 55%;
    font-family: 'Gotham Thin';
}

.livroDesc {
    padding-top: 1.75rem;
    font-family: 'Gotham Book';
    font-size: 1em;
}

/*.livroContent {
    margin: 3% 5% 0 5%;
    padding-top: 2%;
}*/

.livroInfoMain {
    padding: 0 2.5% 0 1%;
}

.livroRowCategorias {
    max-width: 90% !important;
    gap: 2.5%;
}

.livroTituloSection {
    padding-bottom: 2.5%;
}

.livroUserInfo {
    display: flex;
    align-items: center;
}

.livroBtn {
    padding: 2.5%;
    background-color: var(--corPrimaria);
    border: solid 0px;
    border-radius: 0.6rem
}

.livroBtn2 {
    padding: 2.5%;
    background-color: var(--bgTerciaria);
    border: solid 0px;
    border-radius: 0.6rem
}

.svgLivroBtn {
    color: white;
}

.livroBtnRow {
    padding-top: 2.5%;
    gap: 2%;
}

.livroAvaliacaoSection {
    color: var(--corPrimaria);
    margin-right: 10%;
    font-size: 1rem;
    font-family: 'Gotham Thin';
    display: flex;
    align-items: center;
}

.svgAvaliacao {
    max-width: 20px;
    height: 20px;
    fill: var(--corPrimaria);
}

.badgeCategoria {
    color: black;
    background-color: var(--corSecundaria);
    padding: 0.3rem;
    border-radius: 0.35rem;
    font-family: 'Gotham Book';
    font-size: 0.8rem;
    font-weight: 650;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

.badgeCategoriaExtra {
    color: black;
    background-color: var(--corPrimaria);
    padding: 0.4rem;
    border-radius: 0.35rem;
    font-family: 'Gotham Book';
    font-size: 0.85rem;
    font-weight: 650;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

/* Capa END */