.flex {
    display: flex;
}

.justifyContEnd {
    justify-content: end !important;
}

.justifySelfCenter {
    justify-self: center;
}

.alignCenter {
    align-items: center !important;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fitContent {
    height: fit-content;
}

.contFluid {
    --paddingX: 1.5rem;
    padding-right: calc(var(--paddingX) * .5);
    padding-left: calc(var(--paddingX) * .5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contSection {
    --paddingX: 1.5rem;
    --paddingY: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--paddingY));
    margin-right: calc(-.5 * var(--paddingX));
    margin-left: calc(-.5 * var(--paddingX))
}

.pZero {
    padding: 0 !important;
}

.size2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.size3 {
    flex: 0 0 auto;
    width: 25%;
}

.size4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.size5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.size6 {
    flex: 0 0 auto;
    width: 50%;
}

.size7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.size8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.size9 {
    flex: 0 0 auto;
    width: 75%;
}

.size12 {
    flex: 0 0 auto;
    width: 100%;
}

.borderBottom {
    border-bottom: 2px solid var(--bgTerciaria);
    padding-bottom: 1rem;
    width: 100%;
}

.caixadebusca{
    display: flex;
    justify-content: right;
    transform: translate(-20%,0%);
    background:linear-gradient(#001aff,#00c3ff);
    height: 35px;
    padding: 8px;
    border-radius: 35px;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    margin-right: 10px;
}

.buscatxt{
    border:none;
    background: none;
    outline: none;
    padding: 0%;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.buscabotao{
    width: 15px;
    height: 15px;
    border-radius:line 70%;
    display: flex;
    justify-content:center ;
    align-items: center;
    transition: .5s;
}

.caixadebusca:hover >.buscatxt{
    width: 240px;
    padding: 0 6px;
}

.caixadebusca:hover >.buscabotao{
    border-radius: 50%;
}

::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}